{% include '../header.html' %}
{% include '../sidebar.html' %}
    
<div class="w3-main" style="margin-left:300px;margin-top:60px;">
    <div>
        <img src="/cameraOn/" id="qrImage">
        <div id="couponStatus"></div>
    </div>
</div>

{% include "../footer.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

    $(document).ready(function() {
        
        var intervalId

        function getDisplayStatus() {
            $.ajax({
                url : '/display/',
                type : 'GET',
                success : function(response){
                    var displayStatus = response.otp_status;

                    $('#couponStatus').text('Coupon Status: ' + displayStatus);

                   if (response.scanned_status){
                    clearInterval(intervalId);
                   }


                },
                error: function(xhr, status, error) {
                    console.error('Error: ', error);
                }
            });
            
        }

        
        intervalId = setInterval(getDisplayStatus, 2000);

    });

</script>
