{% include '../header.html' %}
{% include '../sidebar.html' %}
    
<div class="w3-main" style="margin-left:300px;margin-top:60px;">
    <div>
        <img src="/cameraOn/" id="qrImage">
        <div id="couponStatus"></div>

        <form action="/check/" method="post">
            {% csrf_token %}
            <button
                type="submit"
                class="btn btn-primary"
                value="True"
                name="button_value"
            >
                Stop
            </button>
            
        </form>
    </div>
</div>

{% include "../footer.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

    $(document).ready(function() {
        
        var intervalId

        function getDisplayStatus() {
            $.ajax({
                url : '/display/',
                type : 'GET',
                success : function(response){
                    var displayStatus = response.otp_status;

                    $('#couponStatus').text('Coupon Status: ' + displayStatus);

                   if (response.scanned_status){
                    window.location.href = "/resetSession/";
                   }
                   const initialLocation = window.location.href;

                    window.onpopstate = function() {
                    const currentLocation = window.location.href;
                    if (currentLocation !== initialLocation) {
                        // User went back
                        window.location.href = "/offcamera/";
                        // Your event handling logic here
                        }
                    };
                   


                },
                error: function(xhr, status, error) {
                    console.error('Error: ', error);
                }
            });

        }

        
        intervalId = setInterval(getDisplayStatus, 2000);

    });

</script>
