{% include "../header.html" %}
{% include '../sidebar.html' %}
    
    <div class="w3-main" style="margin-left:300px;margin-top:60px;">
        
            
               <div class="ticket ">
                    <div class="left" style="background-color: white;">
                        
                        <div class="ticket-info">
                            <p class="date">
                                <span>{{d_m_y.month}}</span>
                                <span class="june-29">{{d_m_y.date}}th</span>
                                <span>{{d_m_y.year}}</span>
                            </p>
                            <div class="show-name">
                                <h1>AARAMBH</h1>
                                <h2>{{qr_data.name | upper}}</h2>
                            </div>
                            <div class="time">
                                <p><samp>Event : </samp>{{qr_data.event | upper}}</p>
                                
                            </div>
                            <div class="barcode">
                                <img src="../{{qr_data.qr_img}}" alt="QR code">
                                <p> <span>@ {{qr_data.coupon_id}}</span></p>
                            </div>
                            <br><br>
                            <p class="location"><span style="margin: 10px;">Don Bosco Institute of Technology</span>
                                <span class="separator"><i class="far fa-smile"></i></span><span style="margin: 10px;">Wilanios Technical Forum</span>
                            </p>
                        </div>
                    </div>
                </div>

                


            
        
    </div>

    

{% include "../footer.html" %}